@font-face {
  font-family: 'jetbrainsMono';
  src: url('./res/fonts/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'jetbrainsMono';
  src: url('./res/fonts/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: bold;
}



*{
  padding: 0;
  margin: 0;
  overflow: hidden;
}


body{
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}



#debug{
  font-size: 500px;
  color: hotpink;
}


#cam-parent{
  --position : (0,0,0);
}

#cam{
  --fov : 70;
  --position : (0,8,-8);
}

#root{
  --animation : rot0 65.5s linear infinite; 
  --geometry : sphere;  
  --scale : (1.5,1.5,1.5);
  --position : (0,0,0);
}


.pf-object{
  --geometry : sphere;
  --material-color : #FFFFFF;
} 



.r-name{
  font-family: 'jetbrainsMono';
  color: black  ;
  font-size: clamp(40px, 60px, 140px);
  user-select: none;


  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 4px rgba(161, 161, 161,1.0) none;
  border-radius: 50%;

  padding: 16px 22px;   /* controls size */
  aspect-ratio: 1 / 1;  /* keep it a circle */
  min-width: 250px;     /* optional: keeps a baseline size */
  max-width: 350px;
}


#root{
}
#root:hover{
  border-style: groove;
}


.r-name:hover{
    border-color : rgba(161, 161, 161,1.0);
  cursor: pointer;
    border-style: groove;
}

.r-name:hover  *{
    pointer-events: none;
    border: 4px rgba(161,161,161,1.0) groove; 
}






@keyframes rot0{
  0%{
    --rotation-y : 0;
 /*   --position-y : 0;*/
  }


  50%{
    --rotation-y : 3.14;
 /*   --position-y : 0.5;*/
  }



  100%{
    --rotation-y : 6.28;
  /*  --position-y : 0;*/
  }
}

@keyframes rot1{
  0%{
    --rotation-y : 6.28;
  /*  --position-y : 0;*/
  }


  50%{
    --rotation-y : 3.14;
   /* --position-y : 0.5;*/
  }



  100%{
    --rotation-y : 0;
    /*--position-y : 0;*/
  }
}

