*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body{
    width: 100vw;
    height: 100vh;
}



#bottom-links{
  position:fixed;
  left:50%;
  bottom:10%;
  transform:translateX(-50%);
  display:flex;
  gap:24px;
  align-items:center;
  z-index:99999;
}

#bottom-links a img{
  width:36px;
  height:36px;
  display:block;
  opacity:.85;
  transition:transform 120ms ease, opacity 120ms ease;
   filter: invert(1); 
}

#bottom-links a:hover img{
  transform:scale(1.15);
  opacity:1;
}

#coktoggle {
  position: fixed;
  left: 50%;
  top: 75%;
  transform: translateX(-50%);
  z-index: 999999;
  border-width: 4px;
  border-radius: 0;
  padding: 4px;
}


#enabled-cok{ color : green;}
#disabled-cok{color : red}