h1{
    margin-left: 20px;
    margin-bottom: 34px;
}
h2{
   font-size: 20px;
   text-align: right;
}
p1{
  font-size:12px;
  left:4px;
  bottom:0px;
  position: absolute;
}

body{
   background-image: url("Secret.jpg");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.dekstopDiv{
  background-image: url("mainMenuBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
}

.appIconDiv{
  /* IDEA: ASS CLAPPING */
  width: 60px;
  height: 60px;
  z-index: 3;
  position: absolute;
}

#SectionLinks{
    font-size: 22px;
    position: relative;
    border:2px solid blue;
    margin-left: 35px;
}

.topBorderDiv{
  top: 0px;
  background-color: darkblue;
  width: 100%; height: 23px;
  color: white;
  position:absolute;
}
/* HACK: ah yes, hacking witch css. */
.h{
  
}

.windowDiv{
   z-index: -1;
   /*bottom: 200px;*/
   background-color: white;
   /*border-style:none;
   border-width: 4px;
   border-color: lightgrey;*/
   size: auto;
   color: black;
   position: absolute;
}
.menuDiv{
  z-index: 1;
  position: absolute;
}
